@font-face {
    font-family: "TTFirsNeue";
    src: url("./fonts/TTFirsNeueTrialRegular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "TTFirsNeue";
    src: url("./fonts/TTFirsNeueTrialMedium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "TTFirsNeue";
    src: url("./fonts/TTFirsNeueTrialBold.ttf") format("truetype");
    font-weight: 600;
}

body{
    letter-spacing: 0px;
    font-weight: 400;
    line-height: 120%;
    font-family: "TTFirsNeue", system-ui, sans-serif;
}

/* BLock */

.block{
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: visible;
    background-repeat: no-repeat;
    background-position: right bottom;
    justify-content: space-between;
}

.block--style--horizontal{
    flex-direction: row;
    gap: 70px;
}

@media (max-width:768px){
    .block--style--horizontal{
        gap: 20px;
        flex-direction: column;
    }

    .block--style--horizontal--mobile{
        flex-direction: row;
    }
}

.block--style--horizontal--gap--small{
    align-content: center;
    flex-direction: row;
    gap: 40px;
}

@media (max-width:768px){
    .block--style--horizontal--gap--small{
        gap: 20px;
        flex-direction: column;
    }
}


.block--nospace{
    justify-content: start;
    gap: 60px;
}

@media (max-width: 768px){
    .block--nospace{
        gap: 20px;
    }
}

.block--style--credit{
    background-image: 
        url(./source/png/block-one-venture-credit-pc.png),
        linear-gradient(to right, #6F6DCA, #906DCA);
    color: #FFFFFF;
    margin: 0 20px 20px 20px;
    padding: 40px 80px 120px 80px;
    border-radius: 0 0 80px 80px;
}

@media (max-width: 1200px) {
    .block--style--credit{
        background-image: 
            url(./source/png/block-one-venture-credit-tablet.png),
            linear-gradient(to right, #6F6DCA, #906DCA);
        margin: 0;
        padding: 40px 30px;
    }
}

@media (max-width: 768px) {
    .block--style--credit{
        background-image: 
            url(./source/png/block-one-venture-credit-mobile.png),
            linear-gradient(to right, #6F6DCA, #906DCA);
        background-position: right 75%;
        padding: 40px 20px;
    }
}

.block--style--opportunities{
    box-shadow: 0 4px 36px 0 rgba(0, 0, 0, 0.08);
    margin-top: 60px;
    gap: 30px;
    padding: 40px 40px 30px 40px;
    border-radius: 30px;
    font-size: 32px;
    font-weight: 500;
    line-height: 120%;
}

@media(max-width: 1200px){
    .block--style--opportunities{
        font-size: 24px;
        padding: 40px 30px 30px 30px;
    }
}

@media(max-width: 768px){
    .block--style--opportunities{
        font-size: 20px;
        padding: 30px 20px 20px 20px;
    }
}

.block--style--info{
    justify-content: unset;
    box-shadow: 0 4px 36px 0 rgba(0, 0, 0, 0.08);
    padding: 30px;
    border-radius: 30px;
    gap: 20px;
}

@media(max-width:768px){
    .block--style--info{
        gap: 20px;
    }
}

.block--style--info--big{
    gap: 60px;
}

.block--style--margins{
    padding: 60px 100px;
    gap: 30px;
}

@media(max-width: 1200px){
    .block--style--margins{
        padding: 40px 32px;
    }
}

@media(max-width: 1200px){
    .block--style--margins{
        padding: 40px 20px;
    }
}

.block--style--third{
    color: #FFFFFF;
    background-image: 
        url(./source/png/block-three-img-pc.png),
        linear-gradient(to right, #6F6DCA, #906DCA);
    gap: 16px;
    padding: 60px;
    border-radius: 60px;
}

@media(max-width:1200px){
    .block--style--third{
        background-image: 
            url(./source/png/block-three-img-tablet.png),
            linear-gradient(to right, #6F6DCA, #906DCA);
        padding: 40px;
    }
}

@media(max-width:768px){
    .block--style--third{
        background-image: 
            url(./source/png/block-three-img-mobile.png),
            linear-gradient(to right, #6F6DCA, #906DCA);
        background-position: center 80%;
        background-size: 100%;
        gap: 30px;
        padding: 30px 20px;
    }
}

.block--style--contacts{
    color: #FFFFFF;
    background-color: #383B4A;
    background-image: url(./source/block-eight-texture.svg);
    margin-bottom: 40px;
    gap: 10px;
    border-radius: 20px;
    padding: 50px 60px 40px 60px;
}

.block--style--footer{
    flex-direction: row;
    border-top: 1px solid #E2E2E5;
}

@media(max-width: 768px){
    .block--style--footer{
        flex-direction: column;
    }
}

.block--style--footer--left{
    margin-right: 20px;
    gap: 40px;
}

.block--style--footer--lower{
    color: #A1A3A6;
    margin: 0 100px;
    padding: 28px 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
}

@media(max-width: 768px){
    .block--style--footer--lower{
        margin: 0 32px;
    }
}

@media(max-width: 1200px){
    .block--style--footer--lower{
        margin: 0 20px;
    }
}

.block__image{
    width: 70px;
    height: 70px;
}

.block__image--size--small{
    width: 40px;
    height: 40px;
}

.block__buttons{
    display: flex;
    margin-top: 16px;
    gap: 10px;
}

@media(max-width:768px){
   .block__buttons{
        flex-direction: column;
   }
}

@media(max-width:768px){
    .block__buttons--footer{
        flex-direction: row;
        align-self: center;
    }
}

.block__logo{
    align-self: center;
    width: 222px;
    height: 47px;
}

.block__logo--style--footer{
    margin-bottom: 60px;
}

@media(max-width: 768px){
    .block__logo--style--footer{
        margin-bottom: 20px;
    }
}

/* Article */

.article{
    position: relative;
}

.article--style--withImage{
    justify-items: center;
}

@media(max-width: 768px){
    .article--style--withImage{
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 16px;
    }
}

.article--restricted{
    max-width: 660px;
}

@media(max-width:768px){
   .article--restricted{
        max-width: 100%;
   }
}

.article--restricted--big{
    max-width: 60%;
}

@media(max-width:768px){
   .article--restricted--big{
        max-width: 100%;
   }
}

.article--align--center{
    justify-items: center;
}

@media(max-width:768px){
    .article--align--center--mobile{
        justify-items: center;
    }
}

.article__title{
    font-weight: 500;
    line-height: 110%;
    font-size: 40px;
    margin-bottom: 10px;
}

@media(max-width:1200px){
   .article__title{
        font-size: 30px;
   }
}

@media(max-width:768px){
   .article__title{
        font-size: 20px;
   }
}

.article__title--style--gradient{
    color: transparent;
    background-image: linear-gradient(to right, #16FF00, #4DFFC9);
    background-clip: text;  
}

.article__title--text--small{
    font-size: 32px;
    line-height: 120%;
    margin-bottom: 20px;
}

@media(max-width: 1200px){
    .article__title--text--small{
        font-size: 24px;
    }
}

@media(max-width: 768px){
    .article__title--text--small{
        font-size: 16px;
        margin-bottom: 16px;
    }
}

.article__title--text--extra--small{
    font-size: 24px;
    line-height: 120%;
    margin: 10px 0;
}

@media(max-width: 1200px){
    .article__title--text--extra--small{
        font-size: 20px;
    }
}

@media(max-width: 768px){
    .article__title--text--extra--small{
        font-size: 18px;
    }
}

.article__body{
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
}

@media(max-width:1200px){
   .article__body{
        font-size: 16px;
   }
}

@media(max-width:768px){
   .article__body{
        font-size: 14px;
   }
}

.article__body--margin{
    margin: 20px 0;
}

.article__body--text--small{
    font-size: 16px;
    line-height: 140%;
}

@media(max-width:1200px){
   .article__body--text--small{
        font-size: 14px;
   }
}

.article__plus{
    position: absolute;
    width: 32px;
    height: 32px;
    top: -32px;
    left: -32px;
}

@media(max-width:1200px){
    .article__plus{
        display: none;
    }
}

.article__undertext{
    color: #8D8F92;
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
    margin-top: 20px;
}

.article__image{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F8F8F8;
    overflow: hidden;
    font-size: 36px;
    font-weight: 500;
    line-height: 110%;
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

@media(max-width: 768px){
    .article__image{
        width: 46px;
        height: 46px;
    }
}

.article__image--style--white{
    background-color: #FFFFFF;
    box-shadow: 0 4px 36px 0 rgba(0, 0, 0, 0.08);
    width: 94px;
    height: 94px;
}

@media(max-width: 1200px){
    .article__image--style--white{
        width: 60px;
        height: 60px;
    }
}

.article__image--size80{
    margin-bottom: 0;
    width: 80px;
    height: 80px;
}

.article__image--style--number{
    background-color: #16FF00;
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
}

.article__image--style--step--one{
    background-color: transparent;
    border: 1px solid hsl(162, 25%, 45%);
}

/* grid */

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

@media(max-width: 768px){
    .grid{
        grid-template-columns: auto;
    }
}

.grid--style--credit{
    grid-template-columns: repeat(3, min-content);
    grid-template-rows: repeat(2, min-content);
    margin-top: 40px;
    column-gap: 50px;
    row-gap: 18px;
}

@media (max-width: 1200px){
    .grid--style--credit{
        grid-template-columns: min-content;
        grid-auto-flow: dense;
        gap: 6px;
    }
}

@media (max-width: 768px){
    .grid--style--credit{
        margin-top: 20px;
    }
}

.grid--style--side{
    overflow: visible;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    background-image: radial-gradient(circle at 85% -20%, #836ECB 0%, #836ECB 10%, #F8F8F8 35%);
    max-width: 506px;
    box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 40px;
    row-gap: 10px;
    column-gap: 10px;
}

@media(max-width: 1200px){
    .grid--style--side{
        font-size: 16px;
    }
}

@media(max-width: 768px){
    .grid--style--side{
        align-self: center;
        margin-top: 20px;
    }
}

.grid--style--step{
    grid-template-columns: 50% 50%;
    background-repeat: no-repeat;
    background-position: right center;
    padding: 40px;
    gap: 20px;
    border-radius: 60px;
}

@media(max-width:768px){
    .grid--style--step{
        grid-template-columns: auto;
        background-position: center;
    }
}

.grid--style--step--one{
    background-color: #D8FDDB;
    background-image: url(./source/block-six-texture-one.svg);
}

@media(max-width: 768px){
    .grid--style--step--one{
        background-image: url(./source/block-six-texture-one-mobile.svg);
    }
}

.grid--style--step--two{
    background-color: #BEE7FF;
    background-image: url(./source/block-six-texture-two.svg);
}

@media(max-width: 768px){
    .grid--style--step--two{
        background-image: url(./source/block-six-texture-two-mobile.svg);
    }
}

.grid--style--patch{
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

@media(max-width:768px){
    .grid--style--patch{
        grid-template-columns: auto;
    }
}

.grid--style--footer{
    height: min-content;
    column-gap: 115px;
    row-gap: 20px;
}

@media(max-width: 1200px){
    .grid--style--footer{
        column-gap: 30px;
        row-gap: 15px;
    }
}

@media(max-width: 768px){
    .grid--style--footer{
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
        row-gap: 10px;
    }
}

.grid__image--side{
    width: 151px;
    height: 156px;
    margin-top: -120px;
}

@media (max-width: 1200px){
    .grid__image--side{
        width: 82px;
        height: 85px;
        margin-top: -60px;
    }
}

@media (max-width: 768px){
    .grid__image--side{
        width: 102px;
        height: 107px;
        margin-top: -70px;
    }
}

.grid__label{
    white-space: nowrap;
    grid-row: 1;
    font-size: 18px;
}

@media (max-width: 1200px){
    .grid__label{
        grid-row: auto;
        margin-top: 24px;
    }
}

@media (max-width: 768px){
    .grid__label{
        margin-top: 16px;
    }
}

.grid__label--footer{
    font-weight: 500;
    margin-bottom: 10px;
}

@media (max-width: 1200px){
    .grid__label--footer{
        grid-row: 1;
        margin-top: 0;
    }
}

@media (max-width: 768px){
    .grid__label--footer{
        margin-bottom: 5px;
    }
}

.grid__cell{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    white-space: nowrap;
    align-items: baseline;
    gap: 10px;
    font-size: 24px;
}

@media (max-width: 768px){
    .grid__cell{
        font-size: 16px;
    }
}

.grid__text--huge{
    font-size: 70px;
    font-weight: 600;
    line-height: 100%;
}

@media (max-width: 1200px){
    .grid__text--huge{
        font-size: 40px;
    }
}

@media (max-width: 768px){
    .grid__text--huge{
        font-size: 30px;
    }
}

/* explanation */

.explanation{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:20px;
}

.explanation--style--small{
    font-size: 16px;
    margin-top: 24px;
}

@media(max-width:768px){
    .explanation--style--small{
        margin-top: 0px;
    }
}

@media(max-width:768px){
    .explanation--style--step{
        flex-direction: column;
    }
}

.explanation--style--checkmark{
    background-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.08);
    margin-top: 10px;
    padding: 25px 30px;
    border-radius: 20px;
}

.explanation--restricted{
    max-width: 50%;
}

@media(max-width: 1200px){
    .explanation--restricted{
        max-width: 60%;
    }
}

@media(max-width: 768px){
    .explanation--restricted{
        max-width: 100%;
        margin-bottom: 200px;
    }
}

/* connector */

.connector{
    position: relative;
    margin-top: 20px;
}

.connector__line{
    position: absolute;
    top: 30px;
    width: 77%;
    height: 2px;
    background-image: repeating-linear-gradient(to right, black 0, black 2px, transparent 2px, transparent 6px);
    z-index: -1;
}

@media(max-width:768px){
    .connector__line{
        display: none;
    }
}

/* header */
.header{
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
}

@media(max-width:1200px){
    .header{
        font-size: 12px;
    }
}

.header__upper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #1C1D22;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0 100px;
}

@media(max-width: 1200px){
    .header__upper{
        padding: 0 32px;
    }
}

@media(max-width:768px){
    .header__upper{
        padding: 8px 20px;
    }
}

.header__lower{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1240px;
    font-weight: 400;
}

@media(max-width:1200px){
    .header__lower{
        padding: 16px 32px;
    }
}

@media(max-width:768px){
    .header__lower{
        display: none;
    }

    .open{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.header__structure{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.header__tab{
    position: relative;
    color: #A1A3A6;
    cursor: pointer;
    padding: 27px 0;
    font-weight: 400;
}

@media(max-width:768px){
    .header__tab{
        display: none;
    }
}

.header__tab--active{
    color: #1C1D22;
    font-weight: 500;
}

.header__tab--active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 2px;
    background: linear-gradient(to right, #16FF00, #4DFFC9);
    border-radius: 1px;
}

.header__image{
    margin-left: 10px;
    width: 18px;
    height: 18px;
}

.header__link{
    padding: 16px 0;
}

.header__divider{
    width: 0;
    height: 12px;
    border-left: 1.5px solid #CBCBCE;
}

@media(max-width:768px){
    .header__divider{
        display: none;
    }
}

/* button */

.button{
    align-self: flex-start;
    background-color: #FFFFFF;
    cursor: pointer;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
    margin-top: 24px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    border-radius: 3px;
    padding: 8px 21px;
}

@media(max-width:1200px){
   .button{
        font-size: 14px;
        line-height: 120%;
   }
}

@media(max-width:768px){
   .button{
        width: 100%;
        margin-top: 0px;
   }
}

.button--style--header{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 40px;
}

@media(max-width:768px){

    .button--style--header{
        gap: 20px;
    }

    .button--style--header::after{
        content: '';
        display: block;
        width: 18px;
        height: 18px;
        background-image: url('./source/header-extra-icon.svg');
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.button--style--border{
    background: transparent;
    cursor: pointer;
    position: relative;
    height: fit-content;
    align-self: flex-end;
    overflow: hidden;
    border-radius: 23px;
    padding: 8px 13px;
    flex-shrink: 0;
    z-index: 1;
}

.button--style--border::before{
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    background: linear-gradient(to right, #16FF00, #4DFFC9);
    border-radius: 23px;
    z-index: -1;
}

.button--style--border::after {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    background: #fff;
    border-radius: 22px;
    z-index: -1;
}

.button--style--big{
    padding: 14px 24px;
    font-size: 24px;
}

@media(max-width:1200px){
    .button--style--big{
        font-size: 20px;
    }
}

@media(max-width:768px){
    .button--style--big{
        align-self: center;
        font-size: 18px;
    }
}

@media(max-width:768px){
    .button--mobile--vanish{
        display: none;
    }
}

.button--style--gradient{
    background-image: linear-gradient(to right, #16FF00, #4DFFC9);
}

.button--align--center{
    align-self: center;
}
