/* fonts */

@font-face {
  font-family: 'TTFirsNeue';
  src: url('./fonts/TT\ Firs\ Neue\ Trial\ Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'TTFirsNeue';
  src: url('./fonts/TT\ Firs\ Neue\ Trial\ Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'TTFirsNeue';
  src: url('./fonts/TT\ Firs\ Neue\ Trial\ Bold.ttf') format('truetype');
  font-weight: 700;
}

/*utility*/
.gap-2{gap: 2px;}
.gap-10{gap: 10px;}
.gap-16{gap: 16px;}
.gap-18{gap: 18px;}
.gap-20{gap: 20px;}
.gap-40{gap: 40px;}
.gap-50{gap: 50px;}
.gap-60{gap: 60px;}
.gap-70{gap: 70px;}
.gap-80{gap: 80px;}
.gap-115{gap: 115px;}

@media (max-width: 1024px){
    .gap-2--tb{gap: 2px;}
    .gap-10--tb{gap: 5px;}
    .gap-16--tb{gap: 10px;}
    .gap-18--tb{gap: 10px;}
    .gap-20--tb{gap: 10px;}
    .gap-40--tb{gap: 20px;}
    .gap-50--tb{gap: 25px;}
    .gap-60--tb{gap: 30px;}
    .gap-70--tb{gap: 30px;}
    .gap-80--tb{gap: 35px;}
    .gap-115--tb{gap: 45px;}
}

@media (max-width: 768px){
    .gap-2--mb{gap: 2px;}
    .gap-10--mb{gap: 5px;}
    .gap-16--mb{gap: 5px;}
    .gap-18--mb{gap: 8px;}
    .gap-20--mb{gap: 8px;}
    .gap-40--mb{gap: 20px;}
    .gap-50--mb{gap: 25px;}
    .gap-60--mb{gap: 25px;}
    .gap-70--mb{gap: 30px;}
    .gap-80--mb{gap: 30px;}
    .gap-115--mb{gap: 40px;}
}

.space-between{justify-content: space-between;}

.baseline{align-items: baseline;}

.background-gradient{background-image: linear-gradient(to right, #16FF00, #4DFFC9);}

.grey-text{color: #A1A3A6;}

@media (max-width: 768px){
    .switch{
        flex-direction: row;
    }
}

/* general */

.horizontal-flex{
    display: flex;
    flex-direction: row;
}

@media (max-width: 768px){
    .horizontal-flex{
    display: flex;
    flex-direction: column;
    }
}

.static{flex-direction: row;}

.vertical-flex{
    display: flex;
    flex-direction: column;
}

.general-text{
    font-size: 18px;
    font-weight: 500;
    line-height: 120%;
}

.general-text--nowrap{
    white-space: no-wrap;
}

.general-text--emphasized{
    font-size: 24px;
}

.general-text--subtitle{
    font-size: 32px;
}

.general-text--title{
    font-size: 40px;
    line-height: 110%;
}

.standart-button{
    align-self: flex-start;
    width: auto;
    z-index: 2;
    border-radius: 3px;
    padding: 8px 21px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.25);
}

@media (max-width: 768px){
    .standart-button{
    width: 100%;
    }
}

.border-button{
    display: block;
    padding: 8px 13px;
    position: relative;
    background: transparent;
    border-radius: 23px;
    overflow: hidden;
    display: inline-block;
    z-index: 1;
}

.border-button::before{
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    background: linear-gradient(to right, #16FF00, #4DFFC9);
    border-radius: 23px;
    z-index: -1;
}

.border-button::after {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    background: #fff;
    border-radius: 22px;
    z-index: -1;
}

.gradient{
    display: inline;
    color: transparent;
    background-image: linear-gradient(to right, #16FF00, #4DFFC9);
    background-clip: text;
}

.center{
    align-items: center;
    justify-items: center;
}

body {
    font-family: 
        'TT Firs Neue',
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        'Roboto',
        'Helvetica Neue',
        Arial,
        sans-serif;
}

/* header styles */

.header{
    display: block;
    position: relative;
    font-size: 14px;
    font-weight: 400;
    width: 100%;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.25);
}

.upper-header{
    display: flex;
    padding: 0 100px 0 100px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.header-img{
    height: 14px;
    width: 14px;
}

@media (max-width: 768px){
    .upper-header{
        padding: 8px 20px;
    }
}

.logo-img{
    width: 179px;
    height: 40px;
}

@media (max-width: 1024px){
    .logo-img{
        width: 34px;
        height: 22px;
        content: url(./source/logo-mini.svg);
    }
}

.upper-header-left{
    display: flex;
    align-items: center;
    gap: 20px;
}

.upper-header-structure{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 27px;
    gap: 26px;
}

@media (max-width: 768px){
    .upper-header-structure{
        display: none;
    }

    .vertical-line{
        display: none;
    }
}

.activity-line{
    display: block;
    width: 20px;
    height: 2px;
    background: linear-gradient(to right, #16FF00, #4DFFC9);
    border-radius: 1px;
}

.upper-header-right{
    display: flex;
    align-items: center;
    gap: 60px;
}

@media (max-width: 768px){
    .upper-header-right{
        gap: 20px;
    }
}

.login-button{
    display: flex;
    gap: 10px;
    align-items: center;
}

.auth-button {
    display: inline-block;
}

.user-icon {
    height: 14px;
    width: 14px;
    display: inline-block;
}

.mobile-buttons{
    display: none;
    gap: 20px;
}

@media (max-width: 768px){
    .mobile-buttons{
        display: flex;
    }
}

.vertical-line{
    display: block;
    width: 0;
    height: 12px;
    border-left: 1.5px solid #CBCBCE;
}

.lower-header{
    display: flex;
    background-color: #fff;
    padding: 16px 100px 16px 100px;
}

@media (max-width: 1024px){
    .lower-header{
    padding: 16px 32px;
    gap: 10px;
    }
}

@media (max-width: 768px){
    .lower-header{
        display: none;
        flex-direction: column;
        width: 100%;
        padding: 16px 20px 16px 20px;
        gap: 20px;
        z-index: 2;
        
    }
    .open{
        display: flex;
        position: absolute;
    }
}

@media (max-width: 768px) {
    .vertical-line,
    .border-button,
    .auth-button {
        display: none;
    }
    
    .login-button {
        gap: 20px;
    }
    
    .user-icon {
        height: 24px;
        width: 24px;
    }
    
    .login-button::after {
        content: '';
        display: block;
        width: 24px;
        height: 24px;
        background-image: url('./source/extra.svg');
        background-size: contain;
        background-repeat: no-repeat;
    }
}

/* block one styles */

.block-one{
    display: flex;
    position: relative;
    overflow: hidden;
    background-image: 
        url(./source/png/venture-credit-pc.png),
        linear-gradient(to right, #6F6DCA, #906DCA);
    background-repeat: no-repeat;
    background-position: right bottom;
    margin: 0 20px;
    border-radius: 0 0 80px 80px;
}

@media (max-width: 1024px){
    .block-one{
    margin: 0;
    background-image: 
        url(./source/png/venture-credit-tablet.png),
        linear-gradient(to right, #6F6DCA, #906DCA);
    }
}

@media (max-width: 768px){
    .block-one{
    flex-direction: column;
    background-image: 
        url(./source/png/venture-credit-mobile.png),
        linear-gradient(to right, #6F6DCA, #906DCA);
    background-position: right 80%;
    }
}

.block-one-structure{
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    max-width: 40%;
    margin: 45px 45px 80px 45px;
    gap: 40px;
    z-index: 1;
}

@media (max-width: 1024px){
    .block-one-structure{
    max-width: 60%;
    }
}

@media (max-width: 768px){
    .block-one-structure{
    max-width: 100%;
    margin: 40px 20px;
    }
}

.block-one__giant-text{
    font-size: 70px;
    font-weight: 600;
    line-height: 100%;
}

.plus-img{
    position: absolute;
    width: 32px;
    height: 32px;
    margin: -32px 0 0 -32px;
}

@media (max-width: 1024px){
    .plus-img{
    display: none;
    }
}

/* block two styles */

.block-two{
    display: flex;
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
    padding: 60px 100px;
}

@media (max-width: 1024px){
    .block-two{
    padding: 40px 32px;
    }
}

@media (max-width: 768px){
    .block-two{
    flex-direction: column;
    padding: 40px 20px;
    gap: 80px;
    }
}

.block-two-side{
    display: flex;
    position: relative;
    flex-direction: column;
    align-self: center;
    overflow-y: visible;
    background-image: radial-gradient(circle at 85% -20%, #836ECB 0%, #836ECB 10%, #F8F8F8 35%);
    box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 40px;
    border-radius: 30px;
    gap: 24px;
}

.block-two-side-img{
    margin-top: -120px;
}

.block-two-structure{
    display: flex;
    flex-direction: column;
    margin: 70px 100px;
    padding: 40px 30px;
    box-shadow: 0 4px 36px 0px rgba(0, 0, 0, 0.08);
    border-radius: 30px;
}

.structure-image{
    width: 150px;
    height: 150px;
}

@media (max-width: 1024px){
    .block-two-structure{
        margin: 40px 20px;
        padding: 40px;
    }
    
    .structure-image{
        width: 95px;
        height: 95px;
    }
}

@media (max-width: 768px){
    .block-two-structure{
    margin: 40px 20px;
    padding: 30px 20px;
    }
}

.block-two-img{
    height: 100px;
    width: 100px;
}

/* block three styles */

.block-three{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
    margin: 60px 100px;
    gap: 40px;
}

@media (max-width: 768px){
    .block-three{
    margin: 40px 20px;
    }
}

.block-three-structure{
    display: flex;
    flex-direction: column;
    background-image: 
        url(./source/png/block-three-img-pc.png),
        linear-gradient(to right, #6F6DCA, #906DCA);
    background-repeat: no-repeat;
    background-position: right bottom;
    color: #FFFFFF;
    padding: 60px;
    border-radius: 60px;
    overflow: hidden;
    position: relative;
    z-index: 2;
}

@media (max-width: 1024px){
    .block-three-structure{
    background-image: 
        url(./source/png/block-three-img-tablet.png),
        linear-gradient(to right, #6F6DCA, #906DCA);
    padding: 30px 20px;
    }
}

@media (max-width: 768px){
    .block-three-structure{
    background-image: 
        linear-gradient(to right, #6F6DCA, #906DCA);
    padding: 30px 20px;
    }
    .block-three-structure::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 120%;
    height: 100%;
    background-image: url(./source/png/block-three-img-mobile.png);
    background-repeat: no-repeat;
    background-position: 10% 20px;
    transform: rotate(10deg);
    z-index: 0;
}
}

.block-three-text{
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 40px;
    position: relative;
    z-index: 2; 
}

@media (max-width: 1024px){
    .block-three-text{
    width: 80%;
    gap: 20px;
    }
}

@media (max-width: 768px){
    .block-three-text{
    width: 100%;
    padding-bottom: 200px;
    gap: 20px;
    }
}

.block-three-button{
    align-self: flex-start;
    width: auto;
    background-image: linear-gradient(to right, #16FF00, #4DFFC9);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.2);
    padding: 8px 21px;
    border-radius: 3px;
}

/* block four styles */

.block-four{
    display: flex;
    flex-direction: column;
    padding: 60px 100px;
    gap: 40px;
}

@media (max-width: 768px){
    .block-four{
    padding: 40px 20px;
    }
}

.info-block{
    display: flex;
    flex-direction: column;
    height: auto;
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
    box-shadow: 0 4px 36px 0px rgba(0, 0, 0, 0.08);
    flex: 1;
    padding: 30px;
    gap: 20px;
    border-radius: 30px;
}

.info-block-img{
    width: 70px;
    height: 70px;
}

/* block five styles */

.block-five{
    display: flex;
    flex-direction: column;
    padding: 60px 100px;
    gap: 40px;
}

.block-five-grid{
    display: grid;
    flex-wrap: wrap;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 768px){
    .block-five{
    padding: 40px 20px;
    }

    .block-five-grid{
    grid-template-columns: repeat(1, 1fr);
    }
}

/* block six styles */

.block-six{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
    padding: 60px 100px 60px 100px;
    gap: 40px;
}

@media (max-width: 768px){
    .block-six{
    padding: 40px 20px;
    }
}

.block-six-structure-one{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #D8FDDB;
    background-image: url(./source/texture-one.svg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 65% 100%;
    padding: 40px;
    border-radius: 60px;
}

@media (max-width: 768px){
    .block-six-structure-one {
    grid-template-columns: 100%;
    grid-auto-flow: row;
    background-image: none;
    }
}

.block-six-structure-two{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #BEE7FF;
    background-image: url(./source/texture-two.svg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 65% 100%;
    padding: 40px;
    border-radius: 60px;
}

@media (max-width: 768px){
    .block-six-structure-two {
    grid-template-columns: 100%;
    grid-auto-flow: row;
    background-image: none;
    }
}

.step-block{
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    box-shadow: 0 4px 36px 0px rgba(0, 0, 0, 0.08);
    gap: 20px;
    padding: 25px 30px;
    border-radius: 20px;
}

.block-six-number{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    border-radius: 50%;
    border: 1px solid #16FF00;
    width: 60px;
    height: 60px;
}

.step-image{
    width: 150px;
    height: 150px;
    margin: 0 0 -40px -10px;
}

@media (max-width: 768px){
    .step-image {
    margin: -30px 0 0 0;
    width: 100px;
    height: 100px;
    align-self: center;
    }
}

/* block seven styles */

.block-seven{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    padding: 60px 100px;
}

.block-seven-number{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #16FF00;
    border-radius: 50%;
    font-size: 36px;
    width: 60px;
    height: 60px;
}

@media (max-width: 768px){
    .block-seven{
    padding: 40px 20px;
    }
}

/* block eight styles */

.block-eight{
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    background-color: #383B4A;
    background-image: url(./source/texture-three.svg);
    background-repeat: no-repeat;
    background-position: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    margin: 60px 100px;
    padding: 50px 60px 50px 60px;
    border-radius: 20px;
    gap: 64px;
}

@media (max-width: 768px){
    .block-eight{
    margin: 40px 20px;
    }
}

/* footer styles */

.footer{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    border-top: 1px solid #E2E2E5 ;
    padding: 70px 100px 0 100px;
    gap: 69px;
}

@media (max-width: 768px){
    .footer{
    justify-content: center;
    align-items: center;
    padding: 40px 20px 0 20px;
    }
}

.bottom-footer{
    color: #A1A3A6;
    border-top: 1px solid #E2E2E5;
    font-size: 14;
    font-weight: 400;
    line-height: 120%;
    padding: 28px 0;
    gap: 19px;
}
